.user-container{
    margin-top: 25px;
    min-width: 300px;
}

.name-container{
    display: flex;
    justify-content: space-between;
}

.name-container-text{
    margin-top: 0;
    margin-bottom: 5px;
}

.role-container{
    display: flex;
    /* justify-content: space-between; */
}

.role-container-text{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(92, 91, 91);
    margin-right: 10px;
}
